@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Roboto:wght@100&display=swap");

.burger {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 0.5s;
  background-color: #ffffff;
  &-logo {
    display: flex;
    align-items: center;
    &-image {
      width: 60%;
      top: 13px;
      margin-left: 10px;
      display: flex;
      align-items: center;
    }
  }
  &-text {
    &-title {
      font-size: 25px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #ff5c5c 82.29%,
        #ff0000 100%
      );
      -webkit-background-clip: text;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &-close {
    width: 3%;
    min-width: 40px;
    transition: 0.5s;
    animation-name: openIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  &-open {
    width: 3%;
    min-width: 40px;
    transition: 0.5s;
  }
  &-items {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    order: 2;
    display: flex;
    &-table {
      padding: 0;
      display: grid;
      align-content: stretch;
      justify-content: space-evenly;
      grid-gap: 10px;
      align-items: baseline;
      &-list {
        list-style: none;
        font-size: 1.2rem;
        &-link {
          text-decoration: none;
          color: #444;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          transition: color 0.3s ease-in-out;
        }
        &-link:hover {
          color: #ff0000;
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}
@keyframes openIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
